* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}
body {
  padding: 1rem;
}
.table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
h1 {
  color: #72148C;
  text-align: center;
  margin-bottom: 3rem;
}
h2 {
  color: #72148C;
  text-align: center;
  margin-bottom: 1rem;
}
div {
  margin-bottom: 3rem;
}
.table th,
.table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #b769d880;
  font-weight: bold;
  text-align: center;
}
.table td {
  text-align: end;
}
.table td:first-child {
  text-align: start;
}

.table tr:hover {
  background-color: #f5f5f5;
}

.table tr:first-child {
  border-top: none;
}

.table tr:last-child {
  border-bottom: none;
}

.table td:first-child {
  font-weight: bold;
}
